Zakladni transformace nad .csv ziskanymi z online convertoru PDF to Excel.com jako .xmls a transformovanymi do .csv rucne

In [66]:
import os
import re
import pandas as pd
import tabula

In [67]:
os.getcwd()

'D:\\nagympl'

In [69]:
os.listdir()

['.ipynb_checkpoints',
 'cisteni csv.ipynb',
 'client_secrets.json',
 'dapraha-git',
 'nagympl',
 'pdf_to_csv.ipynb',
 'pdf_to_csv.py',
 'tableau',
 'test pydrive.py',
 'transformace PDF v Tabula a cisteni.ipynb',
 'trans_PDF']

promenne rok a skola

In [71]:
year = 2017
schoolid = 14

slozka v pocitaci, kde jsou podslozky s jednotlivymi skolami

In [73]:
path = (f'./trans_PDF/ostre soubory/{schoolid}/')

In [75]:
print(path)

./trans_PDF/ostre soubory/14/

In [76]:
files = os.listdir(path)
print(files)

['14-2017-Budejovicka.PDF', '14-2018-Budejovicka.pdf', '14-2019-Budejovicka.PDF', '14-2020-Budejovicka.pdf', '14_2017_clean.csv', '14_2017_pythonapi.csv', '14_2018_clean.csv', '14_2018_pythonapi.csv', '14_2019_clean.csv', '14_2019_pythonapi.csv', '14_2020_clean.csv', '14_2020_pythonapi.csv', '2017_raw.csv']

In [79]:
file = path + files[1]
print(file)

./trans_PDF/ostre soubory/14/14-2018-Budejovicka.pdf

In [97]:
table_raw = tabula.read_pdf(
    file,
    pages="all",
    multiple_tables=True,
    output_format='dataframe')

In [98]:
print(table_raw)
print(type(table_raw))

[    Přijatí žáci                      Unnamed: 1 Unnamed: 2
0            NaN  B o d o v é  h o d n o c e n í        NaN
1     reg. číslo             čeština matemat. ZŠ     Celkem
2        1. 9041                  387  450   100        937
3        2. 8230                  396  441   100        937
4        3. 9063                  414  423   100        937
..           ...                             ...        ...
496    465. 8104                      99   45 60        204
497    466. 8237                      90   18 89        197
498    467. 9022                     135   36 25        196
499    468. 8209                      63   45 80        188
500    469. 8181                       90   45 0        135

[501 rows x 3 columns]]
<class 'list'>

In [103]:
print(len(table_raw))

1

In [105]:
print(type(table_raw[0]))

<class 'pandas.core.frame.DataFrame'>

In [107]:
table = table_raw[0]

In [109]:
print(type(table))

<class 'pandas.core.frame.DataFrame'>

In [110]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Přijatí žáci  490 non-null    object
 1   Unnamed: 1    491 non-null    object
 2   Unnamed: 2    480 non-null    object
dtypes: object(3)
memory usage: 5.9+ KB

In [89]:
soubor1.rename(
    columns=
        {'poradi': 'RANK',
         'matemat.': 'MATH',
         'čeština': 'CZECH',
         'Celkem': 'SUM',
         'ZŠ': 'GRADES',
         'reg. číslo': 'ID'},
    inplace=True)

In [90]:
print(soubor1)

      RANK   reg. číslo  CZECH  MATH  GRADES  SUM
0    1.-2.         5182    423   450   100.0  973
1    1.-2.         6177    423   450   100.0  973
2       3.         6041    441   432   100.0  973
3    4.-6.         5193    414   450   100.0  964
4    4.-6.         6032    414   450   100.0  964
..     ...          ...    ...   ...     ...  ...
528   529.         5020     45    81    62.0  188
529   530.         5016     36    81    50.0  167
530   531.         5225     81    36    50.0  167
531   532.         5097     18    45    89.0  152
532   533.         5213     54     9    60.0  123

[533 rows x 6 columns]

In [91]:
soubor1[soubor1['GRADES']==67]

     RANK   reg. číslo  CZECH  MATH  GRADES  SUM
355  356.         5159    234   261    67.0  562
453  454.         5255    198   162    67.0  427
465  466.         6260    153   189    67.0  409
482  483.         6214    207    99    67.0  373
523  524.         5071     90    54    67.0  211
527  528.         6033     54    72    67.0  193

In [111]:
table[table[["CZECH", "MATH", "GRADES"]].sum(axis=1) != table["SUM"]]

NameError: name 'soubor1' is not defined

KONTROLA - JAK SPRAVNE

In [92]:
soubor1[soubor1['SUM']!= ("CZECH" + "MATH" + "GRADES")]

c:\users\asus\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\computation\expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

      RANK   reg. číslo  CZECH  MATH  GRADES  SUM
0    1.-2.         5182    423   450   100.0  973
1    1.-2.         6177    423   450   100.0  973
2       3.         6041    441   432   100.0  973
3    4.-6.         5193    414   450   100.0  964
4    4.-6.         6032    414   450   100.0  964
..     ...          ...    ...   ...     ...  ...
528   529.         5020     45    81    62.0  188
529   530.         5016     36    81    50.0  167
530   531.         5225     81    36    50.0  167
531   532.         5097     18    45    89.0  152
532   533.         5213     54     9    60.0  123

[533 rows x 6 columns]

In [93]:
print(soubor1['RANK'].head(35))

0       1.-2.
1       1.-2.
2          3.
3       4.-6.
4       4.-6.
5       4.-6.
6          7.
7       8.-9.
8       8.-9.
9         10.
10        11.
11    12.-13.
12    12.-13.
13        14.
14    15.-16.
15    15.-16.
16    17.-18.
17    17.-18.
18        19.
19        20.
20        21.
21        22.
22        23.
23        24.
24        25.
25        26.
26        27.
27    28.-29.
28    28.-29.
29        30.
30        31.
31        32.
32        33.
33        34.
34        35.
Name: RANK, dtype: object

RANK transformation - test

In [94]:
test_string = soubor1['RANK'][28] # test also on index 0
re.sub('[^0-9]+', '', test_string.split('-')[0])

'28'

RANK transformation + prevod na int + kontrola

In [95]:
soubor1['RANK'] = [re.sub('[^0-9]+', '', s.split('-')[0]) for s in soubor1['RANK']]

In [96]:
soubor1['RANK'] = soubor1['RANK'].astype(int)

In [97]:
soubor1.tail(50)

     RANK   reg. číslo  CZECH  MATH  GRADES  SUM
483   484         6198    216    99    57.0  372
484   485         5235    198    81    90.0  369
485   486         6107    144   135    89.0  368
486   487         6031     81   216    70.0  367
487   488         6144    135   144    78.0  357
488   489         6013    153   144    56.0  353
489   490         6039    189   162     0.0  351
490   491         5088    198    54    90.0  342
491   492         6071    135   126    80.0  341
492   493         5215    153   135    50.0  338
493   494         6117     99   162    70.0  331
494   495         5284     72   198    60.0  330
495   496         6226    126    99   100.0  325
496   497         5141    189    54    80.0  323
497   498         5095    153    81    89.0  323
498   499         5054    117   135    70.0  322
499   499         5154    117   135    70.0  322
500   501         6014     36   234    50.0  320
501   502         5156    126    90   100.0  316
502   503         5102    135    99    80.0  314
503   504         6262     99   126    89.0  314
504   505         5264    117    90   100.0  307
505   506         6080    171    90    44.0  305
506   507         6101    126    90    89.0  305
507   508         6223     72   162    70.0  304
508   509         5087    189    36    78.0  303
509   510         5043    153   108    36.0  297
510   511         5210    126    72    78.0  276
511   512         5074     81    99    90.0  270
512   513         6038    108    81    80.0  269
513   514         6159    144    54    70.0  268
514   515         6081     81    99    82.0  262
515   516         5070    117    81    60.0  258
516   517         6011    135    45    78.0  258
517   518         6165    162    18    78.0  258
518   519         6034    126    36    89.0  251
519   520         5139     81    54   100.0  235
520   521         5243    108    27   100.0  235
521   522         5112    153     0    70.0  223
522   523         6026    108    63    45.0  216
523   524         5071     90    54    67.0  211
524   525         5058     63    81    62.0  206
525   526         5185     72    72    60.0  204
526   527         6082     36    81    85.0  202
527   528         6033     54    72    67.0  193
528   529         5020     45    81    62.0  188
529   530         5016     36    81    50.0  167
530   531         5225     81    36    50.0  167
531   532         5097     18    45    89.0  152
532   533         5213     54     9    60.0  123

In [98]:
soubor1['YEAR'] = year

In [99]:
soubor1['SCHOOLCOURSE_ID'] = int(str(schoolid) + "81")

In [100]:
soubor1.to_csv(f"{path}/{schoolid}_{year}_clean.csv", encoding='utf-8')