### Zakladni transformace nad .csv ziskanymi z online convertoru PDFTABLES.com (pristup pres API, samostatny script v Pythonu) // Zakladni transformace nad .csv ziskanymi z online convertoru PDF to Excel.com jako .xmls a transformovanymi do .csv rucne

In [1]:
import os
import re
import pandas as pd

In [2]:
os.getcwd()

'D:\\nagympl\\nagympl\\jupyter_datacleaning'

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'Prvotni cisteni csv.ipynb',
 'transformace PDF v Tabula a cisteni.ipynb']

### Promenne rok a skola

year = 2017
schoolid = 20

In [4]:
year = 2017
schoolid = 12

### slozka v pocitaci, kde jsou podslozky s jednotlivymi skolami
upravit, pokud jupyter notebook se spousti z jine slozky, u mne to vypada takto

In [10]:
path = (f'd:/nagympl/trans_PDF/ostre soubory/{schoolid}/')

In [11]:
print(path)

d:/nagympl/trans_PDF/ostre soubory/12/

### vypsat vsechny .csv ve vybrane slozce

In [12]:
files = os.listdir(path)
csvs = []
for file in files:
    if file.endswith('csv'):
        csvs.append(file)
    elif file.endswith('xlsx'):
        csvs.append(file)
print(csvs)
#['20_2017_clean.csv', '20_2017_n_pythonapi.csv', '20_2017_pythonapi.csv', '20_2017_p_pythonapi.csv', 
#'20_2018.csv', '20_2018_clean.csv', '20_2018_n_pythonapi.csv', '20_2018_pythonapi.csv', '20_2019.csv',
#'20_2019_clean.csv', '20_2019_n_pythonapi.csv', '20_2019_p_pythonapi.csv', '20_2020.csv', 
#'20_2020_clean.csv', '20_2020_n_pythonapi.csv', '20_2020_pythonapi.csv']

['12_2017.csv', '12_2017_pythonapi.csv', '12_2018.csv', '12_2018_pythonapi.csv', '12_2019.csv', '12_2019_pythonapi.csv', '12_2020.csv', '12_2020_pythonapi.csv']

#### Pokud v puvodnim souboru jsou carky misto tecek :
decimal = ','
#### POkud jsou tecky, pro jistotu
decimal = '.'

##### Bud index souboru v seznamu nebo primo nazev pomoci promennych, ostatni soucasti nazvu pripadne dopsat, upravit pomlcky apod.

In [15]:
soubor1 = pd.read_csv(f"{path}/{csvs[0]}", encoding='utf-8', decimal = ',')

In [ ]:
soubor1 = pd.read_csv(f"{path}/{csvs[0]}", encoding='utf-8', decimal = ',')

In [ ]:
soubor1 = open(f"{path}/{schoolid}-{year}.csv")

In [ ]:
soubor1 = pd.read_csv(f"{path}/{schoolid}_{year}.csv", encoding='utf-8', decimal = ',')

In [ ]:
soubor1 = pd.read_csv(f"{path}/{schoolid}_{year}_clean.csv", encoding='utf-8', decimal = ',')

In [16]:
#kontrola
print(soubor1)
# RANK     ID    SUM  GRADES    VR    SP  CZECH  MATH  ADMITTED_ID
#0      57  20841  111.0     2.0  20.0  16.0   40.0    33            0
#1      58  46153  111.0     2.0  18.0  14.0   38.0    39            0
#2      58  69883  111.0     2.0  18.0  14.0   42.0    35            0
#3      60  43215  110.0     2.0  18.0  18.0   35.0    37            0
#4      61  17451  110.0     2.0  16.0  16.0   41.0    35            0

     RANK          ID GRADES  MATH  CZECH  AJ    SUM  ADMITTED_ID
0       1  22661227.0     10    50     49  49    158            1
1       2  27654269.0     10    47     49  46    152            1
2       3  18646376.0     10    44     50  48    152            1
3       4  11663894.0     10    46     46  48    150            1
4       5  46664612.0     10    48     44  47    149            1
..    ...         ...    ...   ...    ...  ..    ...          ...
280   281  86645112.0   5.53    13     11  13  42.53            0
281   282   4657654.0      6    13     10  11     40            0
282   283         NaN   9.33     8     19  14  50.33            2
283   284  65651087.0     10     8     29  35     82            2
284   285  99652850.0   7.33    21      7   7  42.33            2

[285 rows x 8 columns]

In [17]:
#kontrola typu
print(type(soubor1))
#<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

In [18]:
#kontrola obsahu 
soubor1.info()
#<class 'pandas.core.frame.DataFrame'>
#RangeIndex: 386 entries, 0 to 385
#Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype  
#---  ------       --------------  -----  
# 0   RANK         386 non-null    int64  
# 1   ID           386 non-null    int64  
# 2   SUM          386 non-null    float64
# 3   GRADES       386 non-null    float64
# 4   VR           385 non-null    float64
# 5   SP           385 non-null    float64
# 6   CZECH        384 non-null    float64
# 7   MATH         386 non-null    int64  
# 8   ADMITTED_ID  386 non-null    int64  
#dtypes: float64(5), int64(4)
#memory usage: 27.2 KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RANK         285 non-null    int64
 1   ID           283 non-null    float64
 2   GRADES       285 non-null    object
 3   MATH         285 non-null    int64
 4   CZECH        285 non-null    int64
 5   AJ           285 non-null    int64
 6   SUM          285 non-null    object
 7   ADMITTED_ID  285 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 15.6+ KB

### pripadna uprava nazvu

soubor1.rename(
    columns=
        {'poradi': 'RANK',
         'matemat.': 'MATH',
         'čeština': 'CZECH',
         'Celkem': 'SUM',
         'ZŠ': 'GRADES',
         'reg. číslo': 'ID'},
    inplace=True)

soubor1["SUM"] = soubor1["SUM"].astype(float)

#### KONTROLA - JESTLI JSOU SCHOVANE SOUTEZE VE VYSLEDCICH

In [19]:
souteze = soubor1.loc[soubor1[["CZECH", "MATH", "GRADES"]].astype(float).sum(axis=1) != soubor1["SUM"]]

#### kontrola RANK, pripadne deleni

In [20]:
print(soubor1['RANK'].tail(40))

245    246
246    247
247    248
248    249
249    250
250    251
251    252
252    253
253    254
254    255
255    256
256    257
257    258
258    259
259    260
260    261
261    262
262    263
263    264
264    265
265    266
266    267
267    268
268    269
269    270
270    271
271    272
272    273
273    274
274    275
275    276
276    277
277    278
278    279
279    280
280    281
281    282
282    283
283    284
284    285
Name: RANK, dtype: int64

#### RANK transformation - test

In [ ]:
test_string = soubor1['RANK'][36] # test also on index 0
re.sub('[^0-9]+', '', test_string.split('-')[0])

### RANK transformation + prevod na int + kontrola

In [ ]:
soubor1['RANK'] = [re.sub('[^0-9]+', '', s.split('-')[0]) for s in soubor1['RANK']]

In [ ]:
soubor1['RANK'] = soubor1['RANK'].astype(int)

### doplneni sloupcu year a schoolcourse_id dle promennych a ukladani souboru

In [21]:
soubor1['YEAR'] = year

In [22]:
soubor1['SCHOOLCOURSE_ID'] = int(str(schoolid) + "81")
#kod oboru 81 u osmiletych gymnazii, ktere zpracovavame v ramci projektu

In [23]:
soubor1.to_csv(f"{path}/{schoolid}_{year}_clean.csv", encoding='utf-8')