### Zakladni transformace nad .csv ziskanymi z online convertoru PDFTABLES.com (pristup pres API, samostatny script v Pythonu) // Zakladni transformace nad .csv ziskanymi z online convertoru PDF to Excel.com jako .xmls a transformovanymi do .csv rucne

In [1]:
import os
import re
import pandas as pd

In [2]:
os.getcwd()

'D:\\nagympl\\nagympl\\jupyter_datacleaning'

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'Prvotni cisteni csv.ipynb',
 'transformace PDF v Tabula a cisteni.ipynb']

### Promenne rok a skola

year = 2017
schoolid = 20

In [66]:
year = 2017
schoolid = "03"

### slozka v pocitaci, kde jsou podslozky s jednotlivymi skolami
upravit, pokud jupyter notebook se spousti z jine slozky, u mne to vypada takto

In [67]:
path = (f'd:/nagympl/trans_PDF/ostre soubory/{schoolid}/')

In [68]:
print(path)

d:/nagympl/trans_PDF/ostre soubory/03/

### vypsat vsechny .csv ve vybrane slozce

In [69]:
files = os.listdir(path)
csvs = []
for file in files:
    if file.endswith('csv'):
        csvs.append(file)
    #elif file.endswith('xlsx'):
        #csvs.append(file)
print(csvs)
#['20_2017_clean.csv', '20_2017_n_pythonapi.csv', '20_2017_pythonapi.csv', '20_2017_p_pythonapi.csv', 
#'20_2018.csv', '20_2018_clean.csv', '20_2018_n_pythonapi.csv', '20_2018_pythonapi.csv', '20_2019.csv',
#'20_2019_clean.csv', '20_2019_n_pythonapi.csv', '20_2019_p_pythonapi.csv', '20_2020.csv', 
#'20_2020_clean.csv', '20_2020_n_pythonapi.csv', '20_2020_pythonapi.csv']

['03-2017-Pisnicka-neprijati.csv', '03-2017-Pisnicka-prijati.csv', '03_2017.csv', '03_2017_clean.csv', '03_2017_n_pythonapi.csv', '03_2017_pythonapi.csv', '03_2018.csv', '03_2018_clean.csv', '03_2018_n_pythonapi.csv', '03_2018_p_pythonapi.csv', '03_2019.csv', '03_2019_clean.csv', '03_2019_n_pythonapi.csv', '03_2019_pythonapi.csv', '03_2020.csv', '03_2020_clean.csv', '03_2020_n_pythonapi.csv', '03_2020_pythonapi.csv']

#### Pokud v puvodnim souboru jsou carky misto tecek :
decimal = ','
#### Pokud jsou tecky, pro jistotu
decimal = '.'

##### Bud index souboru v seznamu nebo primo nazev pomoci promennych, ostatni soucasti nazvu pripadne dopsat, upravit pomlcky apod.

In [70]:
soubor1 = pd.read_csv(f"{path}/{csvs[2]}", encoding='utf-8', decimal = '.')

soubor1 = pd.read_csv(f"{path}/{csvs[0]}", encoding='utf-8', decimal = ',')

soubor1 = open(f"{path}/{schoolid}-{year}.csv")

soubor1 = pd.read_csv(f"{path}/{schoolid}_{year}.csv", encoding='utf-8', decimal = '.')

soubor1 = pd.read_csv(f"{path}/{schoolid}_{year}_clean.csv", encoding='utf-8', decimal = ',')

In [71]:
#kontrola
print(soubor1)
# RANK     ID    SUM  GRADES    VR    SP  CZECH  MATH  ADMITTED_ID
#0      57  20841  111.0     2.0  20.0  16.0   40.0    33            0
#1      58  46153  111.0     2.0  18.0  14.0   38.0    39            0
#2      58  69883  111.0     2.0  18.0  14.0   42.0    35            0
#3      60  43215  110.0     2.0  18.0  18.0   35.0    37            0
#4      61  17451  110.0     2.0  16.0  16.0   41.0    35            0

    Unnamed: 0  RANK   ID  GRADES  MATH  CZECH  SUM  ADMITTED_ID
0          NaN     1   64      22    48     46  116            0
1          NaN     2  237      22    46     47  115            0
2          NaN     3   65      22    42     49  113            0
3          NaN     4  224      22    42     47  111            0
4          NaN     5   96      22    48     40  110            0
..         ...   ...  ...     ...   ...    ...  ...          ...
244        NaN    24  177      22    40     43  105            1
245        NaN    25  185      22    44     38  104            1
246        NaN    26   37      22    42     40  104            1
247        NaN    27   82      22    40     42  104            1
248        NaN    28   39      22    38     44  104            1

[249 rows x 8 columns]

In [35]:
#kontrola typu
print(type(soubor1))
#<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

In [62]:
#kontrola obsahu 
soubor1.info()
#<class 'pandas.core.frame.DataFrame'>
#RangeIndex: 386 entries, 0 to 385
#Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype  
#---  ------       --------------  -----  
# 0   RANK         386 non-null    int64  
# 1   ID           386 non-null    int64  
# 2   SUM          386 non-null    float64
# 3   GRADES       386 non-null    float64
# 4   VR           385 non-null    float64
# 5   SP           385 non-null    float64
# 6   CZECH        384 non-null    float64
# 7   MATH         386 non-null    int64  
# 8   ADMITTED_ID  386 non-null    int64  
#dtypes: float64(5), int64(4)
#memory usage: 27.2 KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RANK         287 non-null    int64
 1   ID           287 non-null    int64
 2   GRADES       287 non-null    int64
 3   MATH         287 non-null    int64
 4   CZECH        287 non-null    int64
 5   SUM          287 non-null    int64
 6   ADMITTED_ID  287 non-null    int64
dtypes: int64(7)
memory usage: 15.8 KB

### pripadna uprava nazvu

In [21]:
soubor1.rename(
    columns=
        {'Unnamed': 'TODROP',
            'SOUTEZE': 'CONTESTS'},
    inplace=True)

soubor1["SUM"] = soubor1["SUM"].astype(float)

#### KONTROLA - JESTLI JSOU SCHOVANE SOUTEZE VE VYSLEDCICH

souteze = soubor1.loc[soubor1[["CZECH", "MATH", "GRADES"]].astype(float).sum(axis=1) != soubor1["SUM"]]

#### kontrola RANK, pripadne deleni

In [22]:
print(soubor1['RANK'].head(40))

ID
64      1
237     2
65      3
224     4
96      5
178     6
148     7
20      8
113     9
58     10
236    11
36     12
46     13
99     14
41     15
60     16
57     17
294    18
252    19
285    20
66     21
42     22
180    23
177    24
185    25
37     26
82     27
39     28
68     29
83     30
109    31
159    32
53     33
262    34
197    35
293    36
234    37
143    38
28     39
267    40
Name: RANK, dtype: int64

#### RANK transformation - test

In [147]:
test_string = soubor1['RANK'][38] # test also on index 0
re.sub('[^0-9]+', '', test_string.split('-')[0])

'38'

### RANK transformation + prevod na int + kontrola

In [148]:
soubor1['RANK'] = [re.sub('[^0-9]+', '', s.split('-')[0]) for s in soubor1['RANK']]

In [149]:
soubor1['RANK'] = soubor1['RANK'].astype(int)

### doplneni sloupcu year a schoolcourse_id dle promennych a ukladani souboru

In [63]:
soubor1['YEAR'] = year

In [64]:
soubor1['SCHOOLCOURSE_ID'] = int(str(schoolid) + "81")
#kod oboru 81 u osmiletych gymnazii, ktere zpracovavame v ramci projektu

In [65]:
soubor1.to_csv(f"{path}/{schoolid}_{year}_clean.csv", encoding='utf-8')